.root {
  text-align: center;
}

body {
  line-height: 44px;
  vertical-align: middle;
  height: 100vh;
  display: flex;
  font-family: 'Fredoka One', cursive;
}
#heading{
  background-color: #009900;
}

.container {
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  width: 290px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25px 80px 45px 45px 45px 45px 45px;
  grid-gap: 10px;
  margin: auto;
  background-color:  #006600;
}

#heading {
  grid-column: span 4;
  background: linen;
  text-align: center;
}

#screenOne{
}
#screenTwo{
}
#dot {
  border-radius: 50px;
  background-color: #ffcc00;
  text-align: center;
}

#screen {
  background: linen;
  grid-column: span 4;
  padding: 10px;
  height: 70px;
}

#equals {
  border-radius: 50px;
  text-align: center;
  grid-column: span 2;
  background-color: #ffcc00;
  text-align: center;
}

#zero {
  border-radius: 50px;
  text-align: center;
  grid-row: span 2;
  background-color: #ffcc00;
}

#ac {
  border-radius: 50%;
  text-align: center;
  background-color: #ff0000;
}

#ce {
  border-radius: 50px;
  text-align: center;
  background-color: #ff0000;
}

#divide {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#mult {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#seven {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#eight {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#nine {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#minus {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#plus {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#four {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#five {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#six {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#one {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#two {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#three {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
}

#equals {
  border-radius: 50px;
  text-align: center;
  background-color: #ffcc00;
  vertical-align: middle;
}

#btn {
  text-align: center;
  background-color: #ffcc00;
}
